<a href="https://colab.research.google.com/github/j4nav111/html-portfolio/blob/main/exp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Code 1:
n=int(input("Enter a no.: "))
reverse_n=0
while n>0:
    digit=n%10
    reverse_n=reverse_n*10+digit
    n=n//10
print("Reversed no.: ", reverse_n)

Enter a no.: 2873
Reversed no.:  3782

In [ ]:
#Code 2:
n=2
while n<=100:
    print(n, end=" ")
    n+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#Code 3:
r=5
for i in range(1, r+1, 2):

    print(" "*((r-i)//2)+"*"*i)

for i in range(r-2, 0, -2):

    print(" "*((r-i)//2)+"*"*i)

  *
 ***
*****
 ***
  *