<a href="https://colab.research.google.com/github/j4nav111/html-portfolio/blob/main/exp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List 1: (apple, banana, cherry)
List 2: (1, 2, 3)

In [14]:
#CODE 1:
#Creating list, Accessing list, Updating list(add item & remove item), Deleting list:
List1=["apple", "banana", "cherry"]
List2=[1, 2, 3]
print(List1)
print(List2)
List1.insert(2,"melon")
List1.append("mango")
print(List1)
print(List2)
List1.pop()
print(List1)
print(List2)
List1.remove("apple")
print(List1)
del List2

['apple', 'banana', 'cherry']
[1, 2, 3]
['apple', 'banana', 'melon', 'cherry', 'mango']
[1, 2, 3]
['apple', 'banana', 'melon', 'cherry']
[1, 2, 3]
['banana', 'melon', 'cherry']

In [15]:
#CODE 2:
x=[1, 2, 3, 4, 5]
for value in x:
    if value%2==0:
        print(value, end=" ")

2 4

In [17]:
#CODE 3:
a=[2, 4, 6, 8, 10, 15]
b=[14, 5, 6, 7, 8, 1]
common=list(set(a)&set(b))
print(common)

[8, 6]

In [19]:
#CODE 4:
mylist=[0, 2, 6, 4, 8]
mylist[0], mylist[-1]=mylist[-1], mylist[0]
print("List after swapping first and last elements:", mylist)

List after swapping first and last elements: [8, 2, 6, 4, 0]

In [21]:
#CODE 5:
thislist=["apple", "kiwi", "banana", "mango", "cherry"]
if 'kiwi' in thislist:
    print("Element exists in the list!")
else:
    print("Element does not exist!")

Element exists in the list!