<a href="https://colab.research.google.com/github/j4nav111/html-portfolio/blob/main/exp5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
#CODE 1:
thistuple=("apple","banana","cherry")
print("Original tuple:",thistuple)
print("Accessed tuple at index 1 is",thistuple[1])
mytuple=list(thistuple)
mytuple[2]="pear"
thistuple=tuple(mytuple)
print("Updated tuple:",thistuple)
print("Deleting tuple.")
del thistuple

Original tuple: ('apple', 'banana', 'cherry')
Accessed tuple at index 1 is banana
Updated tuple: ('apple', 'banana', 'pear')
Deleting tuple.

In [30]:
#CODE 2:
x=(1,2,3,4,2,5,2)
print("Tuple:",x)
for i in x:
  if x.count(i)-1:
    print("REPEATED!")
count=x.count(i)
print("Item of the tuple is repeated",count,"times.")

Tuple: (1, 2, 3, 4, 2, 5, 2)
REPEATED!
REPEATED!
REPEATED!
Item of the tuple is repeated 3 times.

In [5]:
#CODE 3:
x=(2,4,6,1,9,5,8)
print("Tuple:",x)
min(x)
max(x)
print("Minimum no. in tuple:",min(x))
print("Maximum no. in tuple:",max(x))

Tuple:  (2, 4, 6, 1, 9, 5, 8)
Minimum no. in tuple:  1
Maximum no. in tuple:  9

In [37]:
#CODE 4:
x=("apple","banana","cherry","melon","mango")
print("Tuple:",x)
if "cherry" in x:
  print("Element exists in tuple!")
else:
  print("Element not found!")

Tuple: ('apple', 'banana', 'cherry', 'melon', 'mango')
Element exists in tuple!

In [46]:
#CODE 5:
x=(1,2,3,4,5)
print("Tuple:",x)
def ReversedTuple(tup):
  return tup[::-1]
print("Reversed tuple:",ReversedTuple(x))

Tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)